.collection{
    display:flex;
    flex-direction: row;
    border-radius: 15px;
    border:1px solid #ccc;
    overflow: hidden;
    margin:20px;
}

.collection-bg{
    width: 14rem;
    height:13rem;
    background-image: url("https://www.discoverlosangeles.com/sites/default/files/images/2019-01/Hermosa%20Beach%20Pier%20sunset.jpg?width=1600&height=1200&fit=crop&quality=78&auto=webp");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.collection-info{
    padding:15px;
    text-align:left
}

.collection-info div{
    margin: 5px;
    font-weight: bold;
    color: #919191
}

.collection-description{
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection-manage{
    display:flex;
    padding:5px;
    flex-direction: column;
    justify-content: center
}

.collection-manage .btn{
    width:5rem;
    margin:10px 0px;
}
