<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collections</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/shared.css">
    <link rel="stylesheet" href="../static/css/collection.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/my-collections.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/113bb17fa6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <!--        SEARCH BAR-->
        <div class="col-md-8">
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Have a question? Ask Now">
                <button class="btn btn-primary">Search</button>
            </div>

            <div class="col-md-4 btn btn-primary mt-3" id="add-collection">New collection</div>
        </div>

<!--        COLLECTIONS-->

        <div class="collections col-md-8">
            <div class="collection">
                <div class="collection-bg col-md-4">
                </div>
                <div class="collection-info">
                    <div class="collection-name">Name : Books</div>
                    <div class="collection-description">
                        Description : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div class="collection-topic">Topic : Books</div>
                </div>
                <div class="collection-manage">
                    <div id="delete" class="btn btn-danger" data-toggle="modal"> <span>Delete</span></div>
                    <div id="unblock" class="btn btn-success" data-toggle="modal"><span>Edit</span></div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="row wrapper" id="message-form">
    <div class="">
        <div class="card p-4 bg-light">
            <div class="card-body bg-light">

                <div class="container inner-container">
                    <form id="contact-form" role="form" method="post" action="/api/collections/add">
                        <div class="controls" id="collection-form">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="input-collection-name" type="text" name="name" class="form-control"
                                               placeholder="Name" required="required"
                                               data-error="Name is required">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="input-collection-topic" type="text" name="topic" class="form-control"
                                               placeholder="Topic" required="required"
                                               data-error="Topic is required">

                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                   aria-describedby="inputGroupFileAddon01" name="image">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="input-collection-description" name="description" placeholder="Description"class="form-control" rows="4" required="required"
                                                  data-error="Enter description for collection"></textarea>
                                    </div>

                                </div>

                            </div>

                            <div class="row" id="add-field-row">
                                <div class="col-md-4" id="add-field-button">
                                    <i class="fa-solid fa-plus"></i>
                                    <div>Add field</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <button id="submit-collection" type="submit" class="btn btn-success btn-send  pt-2 btn-block
                          " >SUBMIT</button>

                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
<script src="../static/js/my-collection.js"></script>
</body>
</html>